<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reset password</title>
</head>
<body>
<p>Hi {{username}},</p>

<!--<form method="post">-->
<!--    <label for="fname">Please enter your new password:</label><br>-->
<!--    <input type="text" id="fname" name="fname"><br>-->
<!--</form>-->
<p> You requested a password reset for your account. Please follow this link to set a new password:</p>
<p>
    <a href="{{host}}api/auth/password_reset_confirm/{{token}}">Password reset</a>
</p>

<p>If you didn't request a password reset, please ignore this email.</p>
<p>Thanks,</p>
<p>The Our Team</p>
</body>
</html>